<mat-toolbar color="primary">
  <span>BRY CRUD</span>
  <span style="flex: 1 1 auto;"></span>
  <button mat-button [routerLink]="'/companies'">Empresas</button>
  <button mat-button [routerLink]="'/persons'">Pessoas</button>
</mat-toolbar>
<div style="padding: 24px; min-height: calc(100vh - 64px); box-sizing: border-box; background-color: #ececec;">
  <router-outlet></router-outlet>
</div>
<footer prima style="text-align: center; padding: 16px; background-color: #f5f5f5;">
  <span>&copy; BRY CRUD by: Ronan</span>
</footer>