<mat-card>
	<mat-card-title>{{ isEdit ? 'Editar Empresa' : 'Nova Empresa' }}</mat-card-title>
	<mat-card-content>
		<app-api-error [errorMessage]="apiError"></app-api-error>
		<form [formGroup]="form" (ngSubmit)="submit()" class="company-form">
			<mat-form-field appearance="outline" class="full-width">
				<mat-label>Nome</mat-label>
				<input matInput formControlName="name" />
				<mat-error *ngIf="form.get('name')?.invalid && form.get('name')?.touched">Nome obrigatório</mat-error>
			</mat-form-field>
			<mat-form-field appearance="outline" class="full-width">
				<mat-label>CNPJ</mat-label>
				<input matInput formControlName="cnpj" maxlength="18" />
				<mat-error *ngIf="form.get('cnpj')?.invalid && form.get('cnpj')?.touched">
					CNPJ obrigatório e máximo de 18 caracteres
				</mat-error>
			</mat-form-field>
			<mat-form-field appearance="outline" class="full-width">
				<mat-label>Endereço</mat-label>
				<input matInput formControlName="address" />
			</mat-form-field>
			<div class="actions">
				<button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || loading">
					{{ isEdit ? 'Salvar' : 'Criar' }}
					<mat-progress-spinner *ngIf="loading" diameter="20" mode="indeterminate"></mat-progress-spinner>
				</button>
				<button mat-button type="button" (click)="cancel()">Cancelar</button>
			</div>
		</form>
	</mat-card-content>
</mat-card>